<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./../styles/contact.css">
    </head>
    <body>
        <div id="navbar">
            <div>
            <p>Welcome to Conbusi consulting service</p>
            </div>
            <div class="con">
               <ul>
                <li><i class="fa-solid fa-envelope"></i> info@docmed.com</li>
                <li><i class="fa-solid fa-phone"></i> 1601-609 6780</li>
               </ul>
            </div>
            <div id="social-media">
                <p>
                <li><i class="fa-brands fa-linkedin"></i></li>
                <li><i class="fa-brands fa-facebook"></i></li>
                <li><i class="fa-brands fa-google-plus-g"></i></li>
                </p>
            </div>
        </div>
        <div id="hero">
        <div id="navbar2">
            <div>
                <img src="./../assets/logo.png.webp" alt="logo">
            </div>
            <div id="mid">
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="pages.html">Pages</a></li>
                    <li><a href="property.html">Property</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
            <div id="serach">
              <i class="fa-solid fa-magnifying-glass"></i>
              <button>
              <a href="addproperty.html"> Add Property</a>
              </button>
            </div>
        </div>
        <div id="main">
          <div id="container">
                    <h3>Contact Us</h3>
                </div>
        </div>
    </div>
    <div id="sd">
    <div id="form">
        <div id="git">
           <h3>Get in Touch</h3>
        </div>
        <div id="msg">
            <input type="text" placeholder="Enter Message">
        </div>
        <div id="side">
        <div class="client">
           <input type="text" placeholder="Enter Your Name">
        </div>
        <div class="client">
           <input type="email" placeholder="Enter Email">
        </div>
        </div>
        <div class="client1">
           <input type="text" placeholder="Enter Subject">
        </div>
        <button type="submit">SEND</button>
    </div>
    <div id="sideview">
        <div id="house">
            <span class="h-logo"><i class="fa-regular fa-house"></i></span>
            <div>
            <h3>Buttonwood, California.</h3>
            <p>Rosemead, CA 91770</p>
            </div>
        </div>
        <div id="mobile">
            <span class="h-logo"><i class="fa-solid fa-mobile"></i></span>
            <div>
            <h3>+1 253 565 2365</h3>
            <p>Mon to Fri 9am to 6pm</p>
            </div>
        </div>
        <div id="mail">
            <span class="h-logo"><i class="fa-regular fa-envelope"></i></span>
            <div>
            <h3>support@colorlib.com</h3>
            <p>Send us your query anytime!</p>
            </div>
        </div>
    </div>
    </div>
     <div id="footer">
            <div id="blk1">
                <div id=" foot-logo">
                    <img src="./../assets/footer_logo.png.webp" alt="logo">
                </div>
                <p id="info">
                    conbusi@support.com
                    <br>
                     +10 873 672 6782 
                    <br>
                    600/D, Green road, NewYork.       
                </p>
                <div class="soc-link">
                  <ul>
                    <li><i class="fa-brands fa-facebook-f"></i></li>
                    <li><i class="fa-brands fa-twitter"></i></li>
                    <li><i class="fa-brands fa-instagram"></i></li>
                  </ul>
                </div>
            </div>
            <div id="blk2">
                <h3>Services</h3>
                <ul>
                    <li>Marketig & SEO</li>
                    <li>Startup</li>
                    <li>Finance solution</li>
                    <li>Food</li>
                    <li>Travel</li>
                </ul>
            </div>
            <div id="blk3">
                <h3>Useful Links</h3>
                <ul>
                    <li>About</li>
                    <li>Blog</li>
                    <li>Contact</li>
                    <li>Appointment</li>
                </ul>
            </div>
            <div id="blk4">
                <h3>Subscribe</h3>
                <form id="subscribe">
                    <input type="text" placeholder="Enter your Email">
                    <button type="submit">Subscribe</button>
                </form>
                <p id="info2">
                    Esteem spirit temper too say adieus who direct 
                    <br>
                    esteem esteems luckily.
                </p>
            </div>
        </div>
    </body>
</html>