<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./../styles/home.css">
    </head>
    <body>
        <div id="navbar">
            <div>
            <p>Welcome to Conbusi consulting service</p>
            </div>
            <div class="con">
               <ul>
                <li><i class="fa-solid fa-envelope"></i> info@docmed.com</li>
                <li><i class="fa-solid fa-phone"></i> 1601-609 6780</li>
               </ul>
            </div>
            <div id="social-media">
                <p>
                <li><i class="fa-brands fa-linkedin"></i></li>
                <li><i class="fa-brands fa-facebook"></i></li>
                <li><i class="fa-brands fa-google-plus-g"></i></li>
                </p>
            </div>
        </div>
        <div id="hero">
        <div id="navbar2">
            <div>
                <img src="./../assets/logo.png.webp" alt="logo">
            </div>
            <div id="mid">
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="pages.html">Pages</a></li>
                    <li><a href="property.html">Property</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
            <div id="serach">
              <i class="fa-solid fa-magnifying-glass"></i>
              <button>
              <a href="addproperty.html"> Add Property</a>
              </button>
            </div>
        </div>
        <div id="main">
            <div>
                <div id="container">
                    <h3>Find your best Property</h3>
                    <p>Esteem spirit temper too say adieus who direct esteem.</p>
                </div>
                <section class="search-section">
    <div class="search-box">

        <div class="field">
            <label>Location</label>
            <select>
                <option>NewYork</option>
                <option>California</option>
                <option>India</option>
            </select>
        </div>

        <div class="field">
            <label>Property type</label>
            <select>
                <option>Apartment</option>
                <option>Villa</option>
                <option>House</option>
            </select>
        </div>

        <div class="field">
            <label>Price ($)</label>
            <input type="number" placeholder="20000">
        </div>

        <div class="field">
            <label>Bed Room</label>
            <select>
                <option>01</option>
                <option>02</option>
                <option>03</option>
            </select>
        </div>

        <div class="field">
            <label>Bath Room</label>
            <select>
                <option>01</option>
                <option>02</option>
                <option>03</option>
            </select>
        </div>

        <button class="search-btn">
            <i class="fa fa-search"></i>
        </button>

    </div>
</section>
            </div>
        </div>
        </div>
         <div id="sec">
           <h3>Popular Properties</h3>
        </div>
        <div id="row">
            <div class="single-property">
           <div class="properties">
            <div class="tag">For Sale</div>
            <img src="./../assets/1.png.webp">
           </div>
           <div class="property-content">
              <h3>Comfortable Apartment in Palace</h3>
              <div class="mark">
              <i class="fa-solid fa-location-dot"></i>
              <span>Popular Properties</span>
              </div>
              <div class="amount">
                <span>From $20K</span>
              </div>
              <div class="foot">
                <ul>
                    <li>
                        <i class="fa-solid fa-cube"></i>
                    <span>1200 sqft</span>
                    </li>
                    <li>
                        <i class="fa-solid fa-bed"></i>
                        <span>2 Bed</span>
                    </li>
                    <li>
                        <i class="fa-solid fa-toilet"></i>
                        <span>2 Bath</span>
                    </li>
                </ul>
              </div>
           </div>
           </div>
           <div class="single-property">
           <div class="properties">
            <div class="tag">For Rent</div>
            <img src="./../assets/2.png.webp">
           </div>
           <div class="property-content">
              <h3>Comfortable Apartment in Palace</h3>
              <div class="mark">
              <i class="fa-solid fa-location-dot"></i>
              <span>Popular Properties</span>
              </div>
              <div class="amount">
                <span>From $563/month</span>
              </div>
              <div class="foot">
                <ul>
                    <li>
                        <i class="fa-solid fa-cube"></i>
                    <span>1200 sqft</span>
                    </li>
                    <li>
                        <i class="fa-solid fa-bed"></i>
                        <span>2 Bed</span>
                    </li>
                    <li>
                        <i class="fa-solid fa-toilet"></i>
                        <span>2 Bath</span>
                    </li>
                </ul>
              </div>
           </div>
           </div>
           <div class="single-property">
           <div class="properties">
            <div class="tag">For Sale</div>
            <img src="./../assets/3.png.webp">
           </div>
           <div class="property-content">
              <h3>Comfortable Apartment in Palace</h3>
              <div class="mark">
              <i class="fa-solid fa-location-dot"></i>
              <span>Popular Properties</span>
              </div>
              <div class="amount">
                <span>From $20K</span>
              </div>
              <div class="foot">
                <ul>
                    <li>
                        <i class="fa-solid fa-cube"></i>
                    <span>1200 sqft</span>
                    </li>
                    <li>
                        <i class="fa-solid fa-bed"></i>
                        <span>2 Bed</span>
                    </li>
                    <li>
                        <i class="fa-solid fa-toilet"></i>
                        <span>2 Bath</span>
                    </li>
                </ul>
              </div>
           </div>
           </div>
           <div class="single-property">
           <div class="properties">
            <div class="tag">For Rent</div>
            <img src="./../assets/4.png.webp">
           </div>
           <div class="property-content">
              <h3>Comfortable Apartment in Palace</h3>
              <div class="mark">
              <i class="fa-solid fa-location-dot"></i>
              <span>Popular Properties</span>
              </div>
              <div class="amount">
                <span>From $563/month</span>
              </div>
              <div class="foot">
                <ul>
                    <li>
                        <i class="fa-solid fa-cube"></i>
                    <span>1200 sqft</span>
                    </li>
                    <li>
                        <i class="fa-solid fa-bed"></i>
                        <span>2 Bed</span>
                    </li>
                    <li>
                        <i class="fa-solid fa-toilet"></i>
                        <span>2 Bath</span>
                    </li>
                </ul>
              </div>
           </div>
           </div>
           <div class="single-property">
           <div class="properties">
            <div class="tag">For Sale</div>
            <img src="./../assets/5.png.webp">
           </div>
           <div class="property-content">
              <h3>Comfortable Apartment in Palace</h3>
              <div class="mark">
              <i class="fa-solid fa-location-dot"></i>
              <span>Popular Properties</span>
              </div>
              <div class="amount">
                <span>From $20K</span>
              </div>
              <div class="foot">
                <ul>
                    <li>
                        <i class="fa-solid fa-cube"></i>
                    <span>1200 sqft</span>
                    </li>
                    <li>
                        <i class="fa-solid fa-bed"></i>
                        <span>2 Bed</span>
                    </li>
                    <li>
                        <i class="fa-solid fa-toilet"></i>
                        <span>2 Bath</span>
                    </li>
                </ul>
              </div>
           </div>
           </div>
           <div class="single-property">
           <div class="properties">
            <div class="tag">For Sale</div>
            <img src="./../assets/6.png.webp">
           </div>
           <div class="property-content">
              <h3>Comfortable Apartment in Palace</h3>
              <div class="mark">
              <i class="fa-solid fa-location-dot"></i>
              <span>Popular Properties</span>
              </div>
              <div class="amount">
                <span>From $20K</span>
              </div>
              <div class="foot">
                <ul>
                    <li>
                        <i class="fa-solid fa-cube"></i>
                    <span>1200 sqft</span>
                    </li>
                    <li>
                        <i class="fa-solid fa-bed"></i>
                        <span>2 Bed</span>
                    </li>
                    <li>
                        <i class="fa-solid fa-toilet"></i>
                        <span>2 Bath</span>
                    </li>
                </ul>
              </div>
           </div>
           </div>
        </div>
        <div>
            <button id="mp">More Properties</button>
        </div>
        <div id="mid1">
           <div id="modern-home">
             <span id="span">For Sale</span>
             <div>
                <h3>Blue haven modern home</h3>
                <div class="mark">
              <i class="fa-solid fa-location-dot"></i>
              <span>Popular Properties</span>
              </div>
              <div class="foot1">
                <ul>
                    <li>
                        <i class="fa-solid fa-cube"></i>
                    <span>1200 sqft</span>
                    </li>
                    <li>
                        <i class="fa-solid fa-bed"></i>
                        <span>2 Bed</span>
                    </li>
                    <li>
                        <i class="fa-solid fa-toilet"></i>
                        <span>2 Bath</span>
                    </li>
                </ul>
              </div>
              <p>
                Esteem spirit temper too say adieus who direct esteem. It estee luckily or picture placing drawing. Apartments frequently or motionless on reasonable.
              </p>
              <div id="price">
                <span>$4567</span>
                <button id="mp1">View Details</button>
              </div>
             </div>
           </div>
        </div>
        <div id="mid11">
        <div id="mid2">
            <div id="faq">
                <h3>Frequently ask</h3>
            </div>
            <div class="quest">
               <h3>
                Adieus who direct esteem It esteems luckily?
                </h3>
            </div>
            <div class="quest">
               <h3>
                Who direct esteem It esteems?
                </h3>
            </div>
            <div class="quest">
               <h3>
                Duis consectetur feugiat auctor?
                </h3>
            </div>
        </div>
        <div id="img">
             <img src="./../assets/accordion.png.webp" alt="">
        </div>
        </div>
        <div id="row2">
           <div class="row2">
            <h3><span class="counter">200 +</span></h3>
            <p>Properties for sale</p>
           </div>
           <div class="row2">
            <h3><span class="counter">300</span></h3>
            <p>Properties for sale</p>
           </div>
           <div class="row2">
            <h3><span class="counter">15</span></h3>
            <p>Properties for sale</p>
           </div>
        </div>
        <div id="testimonal">
            <div id="content">
                  <img src="https://preview.colorlib.com/theme/realestate2/img/svg_icon/quote.svg">
            </div>
            <p>Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor sollicitudin. Pellentesque id dolor
                <br>
                 tempor sapien feugiat ultrices nec sed neque.Fusce ac mattis nulla. Morbi eget ornare dui.   
            </p>
            <div id="prof">
                <img src="./../assets/prof.png">
            </div>
            <h3>Robert Thomson</h3>
            <span>Business Owner</span>
        </div>
        <div id="third">
            <h3>Our Agents</h3>
        </div>
        <div id="agents">
            <div class="team-thumb">
            <div class="team">
                <img src="./../assets/agenr1.png">
                <div class="social">
                    <ul>
                        <li><i class="fa-brands fa-facebook-f"></i></li>
                        <li><i class="fa-brands fa-twitter"></i></li>
                        <li><i class="fa-brands fa-instagram"></i></li>
                    </ul>
                </div>
            </div>
            <div class="team-info">
                <h3>Milani Mou</h3>
                <p>Business Agent</p>
            </div>
            </div>
            <div class="team-thumb">
            <div class="team">
                <img src="./../assets/agent2.png">
                <div class="social">
                    <ul>
                        <li><i class="fa-brands fa-facebook-f"></i></li>
                        <li><i class="fa-brands fa-twitter"></i></li>
                        <li><i class="fa-brands fa-instagram"></i></li>
                    </ul>
                </div>
            </div>
            <div class="team-info">
                <h3>Halim Yoka</h3>
                <p>Business Agent</p>
            </div>
            </div>
            <div class="team-thumb">
            <div class="team">
                <img src="./../assets/agent3.png">
                <div class="social">
                    <ul>
                        <li><i class="fa-brands fa-facebook-f"></i></li>
                        <li><i class="fa-brands fa-twitter"></i></li>
                        <li><i class="fa-brands fa-instagram"></i></li>
                    </ul>
                </div>
            </div>
            <div class="team-info">
                <h3>Dalim Karma</h3>
                <p>Business Agent</p>
            </div>
            </div>
            <div class="team-thumb">
            <div class="team">
                <img src="./../assets/agent4.png">
                <div class="social">
                    <ul>
                        <li><i class="fa-brands fa-facebook-f"></i></li>
                        <li><i class="fa-brands fa-twitter"></i></li>
                        <li><i class="fa-brands fa-instagram"></i></li>
                    </ul>
                </div>
            </div>
            <div class="team-info">
                <h3>Micky</h3>
                <p>Business Agent</p>
            </div>
            </div>
        </div>
        <div id="add-property">
            <div id="row3">
                <div id="head">
                    <h3>Add your property for sale</h3>
                </div>
                <div id="add">
                    <span>+10 637 367 4567</span>
                    <button id="btn">
                    <a href="addproperty.html"> Add Property</a>
                    </button>
                </div>
            </div>
        </div>
        <div id="footer">
            <div id="blk1">
                <div id=" foot-logo">
                    <img src="./../assets/footer_logo.png.webp" alt="logo">
                </div>
                <p id="info">
                    conbusi@support.com
                    <br>
                     +10 873 672 6782 
                    <br>
                    600/D, Green road, NewYork.       
                </p>
                <div class="soc-link">
                  <ul>
                    <li><i class="fa-brands fa-facebook-f"></i></li>
                    <li><i class="fa-brands fa-twitter"></i></li>
                    <li><i class="fa-brands fa-instagram"></i></li>
                  </ul>
                </div>
            </div>
            <div id="blk2">
                <h3>Services</h3>
                <ul>
                    <li>Marketig & SEO</li>
                    <li>Startup</li>
                    <li>Finance solution</li>
                    <li>Food</li>
                    <li>Travel</li>
                </ul>
            </div>
            <div id="blk3">
                <h3>Useful Links</h3>
                <ul>
                    <li>About</li>
                    <li>Blog</li>
                    <li>Contact</li>
                    <li>Appointment</li>
                </ul>
            </div>
            <div id="blk4">
                <h3>Subscribe</h3>
                <form id="subscribe">
                    <input type="text" placeholder="Enter your Email">
                    <button type="submit">Subscribe</button>
                </form>
                <p id="info2">
                    Esteem spirit temper too say adieus who direct 
                    <br>
                    esteem esteems luckily.
                </p>
            </div>
        </div>
    </body>
</html>