<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./../styles/property.css">
    </head>
    <body>
        <div id="navbar">
            <div>
            <p>Welcome to Conbusi consulting service</p>
            </div>
            <div class="con">
               <ul>
                <li><i class="fa-solid fa-envelope"></i> info@docmed.com</li>
                <li><i class="fa-solid fa-phone"></i> 1601-609 6780</li>
               </ul>
            </div>
            <div id="social-media">
                <p>
                <li><i class="fa-brands fa-linkedin"></i></li>
                <li><i class="fa-brands fa-facebook"></i></li>
                <li><i class="fa-brands fa-google-plus-g"></i></li>
                </p>
            </div>
        </div>
        <div id="navbar2">
            <div>
                <img src="https://preview.colorlib.com/theme/realestate2/img/logo.png" alt="logo">
            </div>
            <div id="mid">
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="pages.html">Pages</a></li>
                    <li><a href="property.html">Property</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
            <div id="serach">
              <i class="fa-solid fa-magnifying-glass"></i>
              <button>
              <a href="addproperty.html"> Add Property</a>
              </button>
            </div>
        </div>
    </body>
    </html>