#container {
    display: grid;
    grid-template-areas: 
        'navbar navbar navbar navbar'
        'aside main main main'
        'footer footer footer footer';
    gap: 20px;
}

nav {
    grid-area: navbar;
}
aside {
    grid-area: aside;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
}

nav, aside, main, footer {
    border: 2px solid black;
    padding: 50px;
}