#container {
    display: grid;
    grid-template-columns: 100px minmax(100px, 1fr) 1fr;
    grid-template-rows: 100px 100px 100px;
    gap: 20px;
}
.item {
    background-color: #ffcc0d;
    padding: 50px;
    border: 2px solid black;
}

#item-1 {
    /* grid-row-start: 1;
    grid-row-end: 2; */
    grid-row: 1 / 2;

    /* grid-column-start: 1;
    grid-column-end: 3; */

    grid-column: 1 / 3;
}

#item-2 {
    /* grid-row-start: 2;
    grid-row-end: 3; */
    grid-row: 2 / 3;

    /* grid-column-start: 1;
    grid-column-end: 2; */
    grid-column: 1 / 2;
}

#item-3 {
    /* grid-row-start: 1;
    grid-row-end: 2; */
    grid-row: 1 / 2;

    /* grid-column-start: 3;
    grid-column-end: 4; */
    grid-column: 3 / 4;
}

#item-4 {
    /* grid-row-start: 2;
    grid-row-end: 3; */
    /* grid-row: 2 / 3; */

    /* grid-column-start: 2;
    grid-column-end: 4; */
    /* grid-column: 2 / 4; */
    
    /* row-start / column-start / row-end / column-end; */
    grid-area: 2 / 2 / 3 / 4; 
}