div {
    position: relative;
}
#header1 {
    border: 1.5px solid gray;
    /* display: none; */
    visibility: visible;
}

img {
    position: absolute;
    top: 10px;
    z-index: -1;
}

#get-started {
    background-color: #732ffa;
    color: white;
    border: none;
    padding: 10px 16px;
    font-size: 16px;
    border-radius: 8px;
}
#get-started:hover {
    cursor: pointer;
    background-color: red;
    /* transform: translateY(2px); */
    /* transform: scale(0.8); */
    /* transform: rotate(180deg); */
    transform: skewY(30deg);
}