#devops-training {
    background-color: blueviolet;
    color: white;
    padding: 10px 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    /* transition-property: background-color;
    transition-duration: 5s;
    transition-delay: 0s;
    transition-timing-function: ease; */
    transition: background-color 2s 0s ease-in-out;
}
#devops-training:hover {
    background-color: brown;
}
#course-info {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    width: 350px;
    margin-top: 100px;
    margin-left: 100px;
    cursor: pointer;
    transition: transform 1s 0s ease-in;
}
#course-info:hover {
    transform: scale(1.2);
}

#fullstack-training {
    padding: 10px 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 400px;
    animation-name: fullStackAnimation;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    position: relative;
}

@keyframes fullStackAnimation {
    0% {
        background-color: violet;
        top: 0px;
        left: 0px;
    }
    25% {
        top: 0px;
        left: 300px;
    }
    50% {
        background-color: red;
        top: 300px;
        left: 300px;
    }
    75% {
        background-color: antiquewhite;
        top: 300px;
        left: 0px;
    }
    100% {
        background-color: green;
        top: 0px;
        left: 0px;
    }
}