body {
    font-family: "Roboto", sans-serif;
    padding: 50px 100px;
}
#recent-posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
}
#recent-posts div {
    width: 31.5%;
}
#recent-posts img {
    width: 100%;
}
@media only screen and (max-width: 600px) {
    body {
        padding: 20px;
    }
    #recent-posts {
        flex-direction: column;
    }
    #recent-posts div {
        width: 100%;
    }
    #recent-posts h2 {
        font-size: 18px;
    }
}

@media only screen and (max-width: 992px) and (min-width: 601px) {
    #recent-posts div {
        width: 46%;
    }
    #recent-posts h2 {
        font-size: 22px;
    }
}