#nav{
    background-color: aquamarine;
    height: 10vh;
    display: flex;
}

#left img{
    width: 50px;
    padding: 11px;
    padding-left: 60px;
}

#right img{
     width: 40px;
    padding: 10px;
    padding-left: 960px;
}
#main{
    display: flex;
    justify-content: space-between;
}

#left1{
    display: inline; 
    justify-content: space-between;
    width: 40%;
    padding: 10%;
}

#left1 p{
    border: 1px solid black;
    padding: 10px;
}

#registration-form {
    display: flex;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.form-control input{
    padding: 10px;
    border: 1.5px solid #dee2e6;
    border-radius: 8px;
    width: 480px;
}

.error{
    display: flex;
    align-items: center;
    border: 1px solid red;
    background-color: #ffe6e6;
    color: red;
    padding: 8px;
    border-radius: 3px;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 100%;
    margin-bottom: 30px;
}

.error2{
    border: 1px solid rgba(9, 179, 205, 0.933);
    background-color: #a5deee;
    color: rgba(8, 98, 154, 0.638);
    padding: 8px;
    border-radius: 3px;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 100%;
    margin-bottom: 30px;
}

button {
    background-color: #7430f9;
    color: white;
    padding: 10px 25px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
}

#right1{
    padding: 10%;
    width: 30%;
    
}

#faq-sec{
    background-color: #f9f3e3;
    padding: 11px;
    border-radius: 8px;
    margin: 0 auto;
    width: 0px 4rem;
    position: relative;
    left: -25px;
    width: 250px;
    padding-right: -10px;
}
#sub{
    /*
    background-color: #e1d0b5;
    padding: 11px;
    border-radius: 8px;
    max-height: 630px;
    overflow-y: scroll;
    margin: auto 20px;
    padding-right: 25px;
    width: 250px;
    */
    background-color: #e6d4b8;
    margin-top: 10px;
    padding: 10px;
    border-radius:5px;
    cursor: pointer;
    transition: background 0.3 ease;
    text-align: left;
    outline: none;
    font-weight: 700;
    box-sizing: border-box;
    height: 10%;
    width: 500px;
    padding-right: 50px;
}

.sub1{
   padding: 8px;
   font-size: 14px;
   background-color: #e1d0b5;
    color: #444;
    cursor: pointer;
    margin: 2px 0;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-weight: 700;
    box-sizing: border-box;
    height: 10%;
}

/*
#right1{
    width: 450px;
    margin-left: 20px;
    background-color: #e1d0b5;
    padding: 10px;
    border-radius: 8px;
    font-family: Arial, sans-serif;
}

#faq-sec{
    background-color: #f6f1e7;
    padding: 15px;
    border-radius: 5px;
}

.sub1{
    background-color: #e6d4b8;
    margin-top: 10px;
    padding: 10px;
    border-radius:5px;
    cursor: pointer;
    transition: background 0.3 ease;
    text-align: left;
    outline: none;
    font-weight: 700;
    box-sizing: border-box;
    height: 10%;
}
    */