.family-container {
  background: #f5f7fb;
  padding: 20px;
  border-radius: 12px;
  width: 85%;
  margin-left: 170px;
  margin-top: 70px;
}

/* Header */
.family-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.family-header h3 {
  font-size: 18px;
  font-weight: 600;
}

.add-btn {
  background: transparent;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

/* Card */
.family-card {
  background: #dfe6ef;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  cursor:pointer;
}

.family-card h4 {
  margin-bottom: 8px;
  font-size: 15px;
  font-weight: 600;
}

.family-card p {
  font-size: 13px;
  margin: 4px 0;
  color: #333;
}