body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    padding: 30px;
}

#restaurants{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 32px;
}
.items{
    width: 280px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.15);
    background: #fff;
    margin: 20px;
}

.img{
    position: relative;
}
.img img{
    width: 100%;
    height: 180px;
    border-radius: 20px;
}

.price{
    position: absolute;
    bottom: 10px;
    left: 15px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    
}
/*
img{
    border-radius: 10px;
}
*/
.items{
    border: 3px solid black;
}