body{
     font-family: Arial, Helvetica, sans-serif;
}
#navbar{
    background-color: rgb(0, 29, 56);
    color: white;
    height: 5vh;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
}
#social-media li{
    margin-right: 1px;
    display: inline-block;
    padding-right: 30px;
}

.con li{
    display: inline-block;
    justify-content: space-between;
    text-align: right;
    margin-left: 120px;
}

#navbar2{
   /* background-color: rgb(83, 93, 122);*/
    padding: 20px;
    padding-left: 80px;
    display: flex;
    justify-content: flex-start;
    gap: 140px;
}
#mid li{
    /*float: left;
    display: inline;
    margin-right: 20px;
    font-size: 20px;
    margin: 0px 10px;
    position: relative;
    justify-content: center;
    padding: 0px 20px;
    gap: 25px;*/
    float: left;
    display: inline;
    font-size: 20px;
    justify-content: space-between;
    padding: 0px 15px;

}
#mid a{
    color: rgb(238, 235, 235);
    text-decoration: none;
    position: relative;
    display: inline-block;
}
button {
background-color: rgb(252, 154, 93);
display: inline;
border-radius: 30px;
font-size: 14px;
padding :12px 20px;
color: white;
}

#mid ul li .submenu{
    position: absolute;
    left: 0;
    top: 160%;
    background: #fff;
    width: 200px;
    z-index: 2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
    opacity: 0;
    visibility: hidden;
    text-align: left;
    transition: 0.6s;
}

#mid ul li .submenu li{
    display: block;
}

#mid ul li .submenu li a {
    padding: 10px 15px;
    position: relative;
    transition: 0.3s;
    display: block;
    color: #000;
}

#mid ul li:hover > .submenu{
    visibility: visible;
}
.submenu li:hover a{
    color: #000;
}
/*
#main , #navbar2{
    background-image: url('https://preview.colorlib.com/theme/realestate2/img/banner/banner.png');
    position: relative;
    height: 800px;
    padding-top: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
*/
#hero{
    background-image: url('https://preview.colorlib.com/theme/realestate2/img/banner/banner.png');
    position: relative;
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#container{
    padding-top: 120px;
    color: white;
}

#container h3{
    text-align: center;
    font-size: 54px;
    padding: 0px 50px;
    justify-content: center;
    margin-left: 100px;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-weight: 600;
    line-height: 70px;
    margin-bottom: 15px;
    color: #fff;
}
#container p{
    text-align: center;
     padding: 0px 50px;
     padding-bottom: 50px;
}

/* Background section */
.search-section {
    text-align: center;
    color: white;
    padding: 80px 20px;
}

/* Horizontal form wrapper */
.search-box {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-top: -80px;
}

/* Field container */
.field {
    display: flex;
    flex-direction: column;
    color: white;
}

/* Labels */
.field label {
    margin-bottom: 5px;
    font-size: 15px;
    color: #ffae62;
    font-weight: 600;
}

/* Dropdowns & inputs */
.field select,
.field input {
    width: 150px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #999;
    background: rgba(255,255,255,0.1);
    color: white;
    outline: none;
}

.field select option {
    color: black;
}

/* Search button */
.search-btn {
    background: #ff7a3d;
    border: none;
    padding: 12px 18px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    font-size: 18px;
}

#sec{
    padding: 50px 400px;
    font-size: 42px;
    font-weight: 500;
    line-height: 52px;
    color: #001D38;
    position: relative;
    z-index: 0;
    padding-bottom: 19px;
}

#row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 20px;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.single-property{
    border: 1px black solid;
    border-radius: 20px;
    box-shadow: 5px 5px #888888;
}
.properties{
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}
.properties img{
width: 100%;
}

.property-content{
    padding-left: 15px;
    padding-bottom: 5px;
}
.tag{
    position: absolute;
    top: 25px;
    left: 25px;
    background: #FDAE5C;
    padding: 8px 14px;
    color: #fff;
    border-radius: 30px;
    font-size: 13px;
    font-weight: 500;
    z-index: 1;
}

.mark{
    display: flex;
    flex-direction: row;
}

.amount{
    display: inline-block;
    background: #00D363;
    border-radius: 30px;
    padding: 7px 18px;
    color: #fff;
    font-weight: 500;
    font-size: 13px;
    margin-top: 13px;
}

.foot{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-right:5px ;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

}

.foot ul{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 500;
}

#mp{
    border-radius: 20px;
    margin-left: 550px;
    margin-top: 50px;
    background-color:white;
    color: #FDAE5C;
    border-radius:30px;
    border: 1px solid #FDAE5C;
    cursor: pointer;
}
#mp:hover{
  background-color: #FDAE5C;
  color: white;
}

#mid1{
    background-image:url(./assets/home_details.png);
    background-size: cover;
    background-position: center center;
    padding: 140px 20px;
    margin-top: 50px;
    padding-left: 80px;
}
#span{
    border-radius: 5px;
    background: #FDAE5C;
    padding: 9px 21px;
    position: absolute;
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    top: -20px;
    left: 34px;
}

#modern-home{
    background-color: white;
    width: 500px;
    height: 40vh;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    position: relative;
    padding-left: 30px;
}

.foot1 ul{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
    font-size: small;
    padding-right: 1px;
}

.foot1 li{
    display: flex;
    align-items: center;
    gap: 6px;
}

#price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3rem;
    color: #ff4a4a;
    font-weight: 900;
}
#mp1{
    border-radius: 20px;
    background-color:white;
    color: #FDAE5C;
    border-radius:30px;
    border: 1px solid #FDAE5C;
    cursor: pointer;

}

#mp1:hover{
  background-color: #FDAE5C;
  color: white;
}

#mid11{
    display: flex;
    flex-direction: row;
    padding-top: 70px;
}
#mid2{
    flex: 0 0 50%;
    max-width: 50%;
    padding-left:90px ;
}

#faq{
    font-size: 46px;
    font-weight: 300;
    color: #001D38;
    margin-bottom: 57px;
}

#img{
    flex: 0 0 50%;
    max-width: 50%;
}

#row2{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    padding-left: 70px;
    margin: 10px;
    margin-right: 10px;
    padding-bottom: 85px;
    padding-top: 12px;
}

.row2{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    display: block;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.counter{
    color: #FDAE5C;
    font-weight: 700;
    font-size: 42px;
    margin-bottom: 0;
   
}

.row2 p{
    color: #919191;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0;
}

#testimonal{
    background-image: url(./assets/testmonial.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    padding: 142px 0 137px 0px;
    background-color: #001D38;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    z-index: -4;
    opacity: 0.9;
   
}
/*
#testimonal, #overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.55);
}*/
#content img{
    display: inline-block;
    width: auto;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    padding-left: 570px 
}

#testimonal p{
    color: #0e0d0d;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 50px;
    font-size: 22px;
    font-weight: 100;
}

#prof img{
    padding-left: 590px;
    padding-top: 30px;
}

#testimonal h3{
    padding-left: 545px;
}

#testimonal span{
    padding-left: 545px;
}

#third{
    padding: 50px 400px;
    padding-left: 500px;
    font-size: 42px;
    font-weight: 500;
    line-height: 52px;
    color: #001D38;
    position: relative;
    z-index: 0;
    padding-bottom: 19px;
}

#agents{
    display: flex;
    flex-direction: row;
}
.team-thumb{
    width: 300px;
}

.team{
    overflow: hidden;
    margin-bottom: 26px;
    position: relative;
    cursor: pointer;
    vertical-align: middle;
}
.team img{
    width: 250px;
    padding-left: 30px;
    border-radius: 50px;
}

.team-info h3{
    font-size: 22px;
    font-weight: 400;
    color: #2C2C2C;
    margin-bottom: 0;
    padding-left: 20px;
    text-align: center;
}

.team-info p{
    font-size: 13px;
    font-weight: 300;
    color: #2C2C2C;
    margin-top: 6px;
    margin-bottom: 8px;
    padding-left:20px ;
    text-align: center;
}

.social{
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    display: flex;
    gap: 18px;
    transition: 0.45s ease;
}

.social li{
    visibility: hidden;
    margin-right: 1px;
    display: inline-block;
    padding-right: 30px;
    padding-left: 20px;
}

.team-thumb:hover .social{
    visibility: visible;
    transition: all 0.5s ease;
}

.team:hover .social{
    opacity: 1;
    bottom: 20px;
}

#add-property{
    background-image: url('./assets/add_property.png.webp');
    position: relative;
    z-index: 0;
    padding: 100px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 15vh;
    margin-top: 100px;
}

#row3{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #FDAE5C;
    opacity: .9;
    z-index: -1;
    padding-top: 5px;
}

#head{
    width: 58.333%;
    padding-left:100px;
    margin-top: 80px;
    font-size: 38px;
    font-weight: 400;
    color: white;
}

#add span{
    color: #fff;
    font-weight: 500;
    font-size: 24px;
    margin-right: 25px;
    margin-top: 130px;
}

#add{
    display: flex;
    flex-wrap: wrap;
}

#btn{
    border-radius: 20px;
    display: block;
    border: 1px solid white;
    cursor: pointer;
    height: fit-content;
    margin-top: 120px;
}

#btn:hover{
  background-color:white;
  color: black;
}

#footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#blk1{
    color: #919191;
    font-size: 13px;
    font-weight: 400;
    line-height: 28px;
    padding-left: 90px;
    margin-top: 160px;
    width: 230px;
}

#info{
   padding-top: 30px;
}

.soc-link{
    margin-top: 50px;
}
.soc-link li{
    margin-right: 4px;
    display: inline-block;
    padding-right: 20px;
}

#info:hover{
    cursor: pointer;
    color: #FDAE5C;
    transition-duration: 0.5s ease;
}

.soc-link li:hover{
    cursor: pointer;
    color: #FDAE5C;
    transition-duration: 0.5s ease;
}

#blk2{
    margin-top: 125px;
    width: 230px;
}
#blk2 h3{
    font-size: 18px;
    font-weight: 700;
    color: #001D38;
    text-transform: capitalize;
    margin-bottom: 40px;
    padding-left: 70px;
    padding-top: 20px;
}


#blk2 li{
    display: block;
    padding-left: 30px;
    padding-top: 20px;
    color:#919191;
}

#blk2 li:hover{
    cursor: pointer;
    color: #FDAE5C;
    transition-duration: 0.5s ease;
}

#blk3{
    margin-top: 125px;
    
}
#blk3 h3{
    font-size: 18px;
    font-weight: 700;
    color: #001D38;
    text-transform: capitalize;
    margin-bottom: 40px;
    padding-left: 20px;
    padding-top: 20px;
}

#blk3 li{
    display: block;
    padding-right: -10px;
    padding-top: 20px;
    color:#919191
}

#blk3 li:hover{
    cursor: pointer;
    color: #FDAE5C;
    transition-duration: 0.5s ease;
}

#blk4{
    margin-top: 143px;
    margin-left: 70px;
}

#blk4 h3{
    font-size: 18px;
    font-weight: 700;
    color: #001D38;
    text-transform: capitalize;
    margin-bottom: 40px;
    padding-left: 20px;
    padding-top: 5px;
}

#subscribe{
    position: relative;
    margin-bottom: 20px;
}

#subscribe input{
    /*
    width: 100%;
    height: 50px;
    background: #F5FBFF;
    padding-left: 20px;
    font-size: 15px;
    color: #000;
    border: 1px solid #E8E8E8;
    border-radius: 30px;
    */
    width: 350px;
    padding: 12px 18px;
    border-radius: 30px;
    border: 1px solid #ddd;
    outline: none;
}

#subscribe button{
    position: absolute;
    height: 40px;
    border: none;
    color: #fff;
    background: #FD955D;
    padding: 0px 22px;
    cursor: pointer;
    border-radius: 30px;
    top: 0px;
    right: 0px;
    font-size: 13px;
    font-weight: 500;
    
    /*
    padding: 12px 25px;
    border-radius: 30px;
    border: none;
    background-color: #FDAE5C;
    color: white;
    cursor: pointer;*/
}

#info2{
    color:#919191;
    padding-top: 20px;
    column-gap: 10px;
}